<template>
  <div class="limiter">
    <div
      class="container-login100"
      :style="{backgroundImage: 'url('+require('../../assets/images/bg-01.jpg')+')'}"
    >
      <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
        <form class="login100-form validate-form">
          <span class="login100-form-title p-b-49">Login</span>

          <div v-bind:class="{'alert-validate':isAlertUserName}" class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
            <span class="label-input100">Username</span>
            <input v-on:focus="resetAlert(1)" v-model="userName" class="input100" type="text" name="username" placeholder="Type your username" />
            <span class="focus-input100" data-symbol=""></span>
          </div>

          <div v-bind:class="{'alert-validate':isAlertPassWord}" class="wrap-input100 validate-input" data-validate="Password is required">
            <span class="label-input100">Password</span>
            <input v-on:focus="resetAlert(2)" v-model="passWord" class="input100" type="password" name="pass" placeholder="Type your password" />
            <span class="focus-input100 " data-symbol=""></span>
          </div>

          <!-- <div class="text-right p-t-8 p-b-31">
						<a href="#">
							Forgot password?
						</a>
          </div>-->

          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button v-on:click="login($event)" class="login100-form-btn">Login</button>
            </div>
          </div>

          <div class="flex-col-c p-t-10">
            <span class="txt1 p-b-17 p-t-34">
              Or
              <a href="#" v-on:click="register($event)" class="txt2" style="display:inline;">Sign Up</a>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "loginForm",
  data() {
    return {
	  msg: "Welcome to Your Vue.js App",
	  userName:"",
	  passWord:"",
	  isAlertUserName:false,
	  isAlertPassWord:false
    };
  },
  methods: {
    register(e){
      e.preventDefault();
      this.$router.push('register');
    },
    login(e) {
		e.preventDefault();
		this.isAlertUserName=this.userName==""?true:false;	
		this.isAlertPassWord=this.passWord==""?true:false;
		if (!this.isAlertUserName&&!this.isAlertPassWord){
			alert('Dang nhap thanh cong')
			this.$router.push('/');
		}
		return false;
		//alert('Clicked');
	},
	resetAlert(number){
		if (number==1)
			this.isAlertUserName=false;
		else this.isAlertPassWord=false;
	}
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import "../../assets/vendor/bootstrap/css/bootstrap.min.css";

@import "../../assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css";

@import "../../assets/fonts/iconic/css/material-design-iconic-font.min.css";

@import "../../assets/css/util.css";
@import "../../assets/css/main.css";
@font-face {
  font-family: Poppins-Regular;
  src: url("../../assets/fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Medium;
  src: url("../../assets/fonts/poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("../../assets/fonts/poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: Poppins-SemiBold;
  src: url("../../assets/fonts/poppins/Poppins-SemiBold.ttf");
}
</style>