<template>
  <div class="limiter">
    <div
      class="container-login100"
      :style="{backgroundImage: 'url('+require('../../assets/images/bg-01.jpg')+')'}"
    >
      <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
        <form class="login100-form validate-form">
          <span class="login100-form-title p-b-49">Register</span>

          <div v-bind:class="{'alert-validate':errors.user.isHasError}" class="wrap-input100 validate-input m-b-23" v-bind:data-validate="errors.user.msg">
            <span class="label-input100">Username</span>
            <input v-on:focus="resetAlert('user')" v-model="userName" class="input100" type="text" name="username" placeholder="Type your username" />
            <span class="focus-input100" data-symbol=""></span>
          </div>

          <div v-bind:class="{'alert-validate':errors.pass.isHasError}" class="wrap-input100 validate-input m-b-23"  v-bind:data-validate="errors.pass.msg">
            <span class="label-input100">Password</span>
            <input v-on:focus="resetAlert('pass')" v-model="passWord" class="input100" type="password" name="pass" placeholder="Type your password" />
            <span class="focus-input100" data-symbol=""></span>
          </div>
            <div v-bind:class="{'alert-validate':errors.repass.isHasError}" class="wrap-input100 validate-input m-b-23" v-bind:data-validate="errors.repass.msg">
            <span class="label-input100">Repeat Password</span>
            <input v-on:focus="resetAlert('repass')" v-model="passwordRepeat" class="input100" type="password" name="pass" placeholder="Repeat your password" />
            <span class="focus-input100" data-symbol=""></span>
          </div>
            <div v-bind:class="{'alert-validate':errors.email.isHasError}" class="wrap-input100 validate-input" v-bind:data-validate="errors.email.msg">
            <span class="label-input100">Email:<span class="focus-input100" ></span></span>
            <input v-on:focus="resetAlert('email')" v-model="email" class="input100" type="email" placeholder="Type your email" />
             <span class="focus-input100" data-symbol=""></span>
          </div>
          
          <!-- <div class="text-right p-t-8 p-b-31">
						<a href="#">
							Forgot password?
						</a>
          </div>-->

          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button v-on:click="register($event)" class="login100-form-btn">Sign Up</button>
            </div>
          </div>

          <div class="flex-col-c p-t-10">
            <span class="txt1 p-b-17 p-t-34">
              Or
              <a href="#" v-on:click="gotoLogin($event)" class="txt2" style="display:inline;">Login</a>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  data() {
    return {
	  msg: "Welcome to Your Vue.js App",
	  userName:"",
      passWord:"",
      passwordRepeat:"",
      email:"",
      errors:{
          email:{
              msg:"Vui long nhap Email",
              isHasError:false
          },
          pass:{
              msg:"Vui long nhap password",
              isHasError:false
          },
          repass:{
              msg:"Vui long nhap repassword",
              isHasError:false
          },
          user:{
              msg:"Vui long nhap username",
              isHasError:false
          },
      }
    };
  },
  methods: {
    validateEmail(email){
      let re=/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
      return re.test(email);
    },
    validateUser(user){
      let re=/^[a-zA-Z0-9]+$/;
      return re.test(user);
    },
    gotoLogin(e){
        e.preventDefault();
        setTimeout(()=>{
            this.$router.push('login');
        },200);
    },
    register(e) {
        console.log(this);
		e.preventDefault();
		    //this.errors.user.isHasError=this.userName==""?true:false;
        this.errors.pass.isHasError=this.passWord==""?true:false;
        this.errors.repass.isHasError=this.passwordRepeat==""?true:false;
       // this.errors.email.isHasError=this.email==""?true:false;
        if (!this.validateEmail(this.email)){
          this.errors.email.isHasError=true;
          this.errors.email.msg="Email khong hop le!";
        }
        if (!this.validateUser(this.userName)){
          this.errors.user.isHasError=true;
          this.errors.user.msg="User khong hop le, vui long nhap lai!";         
        }
        if (this.passwordRepeat!==this.passWord){
          this.errors.repass.isHasError=true;
          this.errors.repass.msg="Password nhap lai khong dung!";         
        }
        for (let key in this.errors) {
            if (this.errors[key].isHasError)
                return false;            
        }
        alert('Dang Ky Thanh Cong');
        this.$router.push('/');
		
	},
	resetAlert(obj){
		this.errors[obj].isHasError=false;
	}
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import "../../assets/vendor/bootstrap/css/bootstrap.min.css";
@import "../../assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css";
@import "../../assets/fonts/iconic/css/material-design-iconic-font.min.css";
@import "../../assets/css/util.css";
@import "../../assets/css/main.css";
@font-face {
  font-family: Poppins-Regular;
  src: url("../../assets/fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Medium;
  src: url("../../assets/fonts/poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("../../assets/fonts/poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: Poppins-SemiBold;
  src: url("../../assets/fonts/poppins/Poppins-SemiBold.ttf");
}
</style>