<template>
  <div class="home">
      <h1>HomePage</h1>
      <p>{{msg}}</p>
        </div>
 </template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1{
  font-size: 100px;
  text-align: center;
  margin:30px 0 0 0 ;
}
p{
  font-size:70px;
  text-align:center;
  margin: 30px 0;
}
</style>
